<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='fevicon.png') }}">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">Patient Details for Department: {{ department }}</h1>
        <div class="table-responsive">
            {{ patient_details_html|safe }}
        </div>
        <div class="text-center mt-4">
            <a href="/summary/{{ file_id }}" class="btn btn-secondary">Back to Summary</a>
        </div>
    </div>
</body>
</html>
