<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')  }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='fevicon.png') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Logo Section -->
        <div class="logo">
            <img src="{{ url_for('static', filename='OW-L1123.webp') }}" alt="Logo">
        </div>
        
        <form method="POST" action="{{ url_for('login') }}">
            <h2 Styles="text-align:center">NMC Statistical Cell - DCMS </h2>
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </form>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>

